---
import Card from '@components/Card/Card.astro';
import { IconCatalog, IconStyle } from '@components/Icon/Icon';
import Icon from '@components/Icon/Icon.astro';
import BasicLayout from '@layouts/BasicLayout.astro';
import Navigation from '@layouts/Navigation.astro';
import experienceData from '@data/experience.json';
import projectsData from '@data/projects.json';

interface ProjectDetails {
  /**
   * The title of the item.
   */
  title: string;

  /**
   * The main content or body text.
   */
  body: string;

  /**
   * The URL for a hyperlink.
   */
  href: string;

  /**
   * An array of tags associated with the item.
   */
  tags: Array<string>;

  /**
   * The date associated with the item.
   */
  date: string;

  /**
   * An optional subtitle.
   */
  subTitle?: string;
}

type ProjectArray = Array<ProjectDetails>;

const experience: ProjectArray = experienceData;
const projects: ProjectArray = projectsData;
---

<BasicLayout>
  <main class="container mx-auto flex flex-col justify-between px-8 lg:flex-row lg:gap-20">
    <aside
      class="top-0 mx-auto flex h-[40svh] max-w-xs flex-col justify-between lg:sticky lg:h-[100svh] xl:max-w-md"
    >
      <div class="mt-14 animate-fade-right text-center lg:text-left">
        <h1 class="text-fluid-lg font-bold xl:text-fluid-xl">Samuel Llibre</h1>
        <span class="block text-xl font-semibold text-gray-300">Front-end Developer</span>
        <p class="mt-2 text-gray-400">
          I thrive on crafting exceptional and accessible digital experiences, with a passion for
          pushing the boundaries of creativity through innovative CSS and JavaScript
          experimentation.
        </p>
      </div>
      <Navigation class="max-lg:hidden" />
      <footer
        class="flex animate-fade-right justify-center gap-6 py-10 lg:ml-4 lg:items-start lg:justify-start lg:pb-10"
      >
        <a href="https://github.com/zyruks" target="_blank" tabindex="0">
          <Icon
            class="w-6 hover:text-blue-500"
            iconStyle={IconStyle.solid}
            icon={IconCatalog.gitHub}
          />
          <span class="visually-hidden">github</span>
        </a>
        <a href="https://x.com/zyruks" target="_blank">
          <Icon
            class="w-6 hover:text-blue-500"
            iconStyle={IconStyle.solid}
            icon={IconCatalog.twitter}
          />
          <span class="visually-hidden">X</span>
        </a>
        <a href="https://www.linkedin.com/in/zyruks/" target="_blank">
          <Icon
            class="w-6 -translate-y-1 hover:text-blue-500"
            iconStyle={IconStyle.solid}
            icon={IconCatalog.linkedin}
          />
          <span class="visually-hidden">LinkedIn</span>
        </a>
        <a href="mailto:dev@zyruks.com" target="_blank">
          <Icon class="w-6 hover:text-blue-500" icon={IconCatalog.atSymbol} />
          <span class="visually-hidden">Email</span>
        </a>
      </footer>
    </aside>
    <section class="grid w-full animate-fade-up gap-10">
      <article id="top" class="section-area | my-20 flex flex-col gap-4 text-lg">
        <p>
          Back in 2013, a spark of curiosity led me to explore the intricacies of graphic design,
          igniting a passion for the digital arts that seamlessly evolved into web development💻.
          Over the years, I've woven my path through the dynamic landscape of coding, from piecing
          together engaging interfaces as a freelancer to enhancing user experiences with
          <b class="text-blue-500">mobile-first designs</b> that thrive on responsiveness.
        </p>
        <p>
          Fast-forward to today, and my professional tapestry includes a spectrum of experiences,
          from empowering startups with robust digital identities to elevating businesses with
          innovative web solutions. My current focus lies in leading and nurturing projects that
          resonate with users, evident in my creation of UI Guideline, a resource that attracts over

          <b class="text-blue-500">13,000 unique visitors</b> a month, providing developers and designers
          with insights into effective UI components.
        </p>
        <p>
          Away from the keyboard, my world expands into climbing challenging routes, cherishing
          moments with my loved ones, or exploring the vast terrains of gaming worlds, each an
          adventure in its own right 🌍.
        </p>
      </article>

      <article id="projects" class="section-area | mt-20 grid gap-8">
        <h2 class="flex items-center gap-8 text-2xl font-bold uppercase">Projects</h2>
        {
          projects.map((item) => (
            <Card
              href={item.href}
              title={item.title}
              subTitle={item.subTitle}
              body={item.body}
              tags={item.tags}
              date={item.date}
            />
          ))
        }
      </article>

      <article
        id="experience"
        class="section-area | mt-20 grid animate-fade gap-8 animate-delay-300"
      >
        <h2 class="flex items-center gap-8 text-2xl font-bold uppercase">Experience</h2>
        {
          experience.map((item) => (
            <Card
              href={item.href}
              title={item.title}
              body={item.body}
              tags={item.tags}
              date={item.date}
            />
          ))
        }
      </article>
    </section>
  </main>
</BasicLayout>

<style>
  h2:after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(59 130 246);
  }
</style>
